h1 {
  text-align: center;
}
body {
  text-align: center;
}
form {
  display: inline-block;
  border: 2px solid;
  padding: 20px;
  border-radius: 5px;
}
/* textarea {
  width: 300px;
  min-height: 17px;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
} */
form input,
form textarea {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0ch;
  margin-bottom: 10px;
  border-radius: 5px;
}
button {
  background-color: azure;
  border-radius: 5px;
  border: 2px solid;
  margin: auto;
}

.note {
  border: 2px solid;
  width: 240px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.note h4 {
  font-size: 15px;
  margin-bottom: 0%;
  margin-top: 1%;
}
.note p {
  margin-top: 1%;
}
.note button {
  margin-bottom: 1%;
}
